<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <button id="togglePlay">Toggle Play</button>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
                  <button class="btn btn-outline-success" id="s-button">Search</button>
                
              </div>
            </div>
        </nav>

        <div class="card" style="width: 18rem;" v-for="item in tracks" v-bind:data-uri="item.data.uri" v-on:click="play({playerInstance: player,spotify_uri: item.data.uri,})">
            <img v-bind:src="item.data.albumOfTrack.coverArt.sources[0].url" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.data.name}}</h5>
              <p class="card-text" v-for="a in item.data.artists.items">{{a.profile.name}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

    

    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.4/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyChxrps7u6nD0mTv4-Qkuwo9-Xw90Z3v7c",
          authDomain: "musik-f4861.firebaseapp.com",
          projectId: "musik-f4861",
          storageBucket: "musik-f4861.appspot.com",
          messagingSenderId: "679912573627",
          appId: "1:679912573627:web:0b45888859d4a87d6bf79e"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
      </script>
    <script src="./main.js"></script>
    
</body>
</html>