html {
    font-family: 'Abel', sans-serif;
    color: white;
}

.tituloApp {
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 1.4rem;
}

.letra {
    font-family: 'Abel', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.letraChicaDisabled {
    font-family: 'Abel', sans-serif;
    color: rgb(255, 255, 255, 0.3);
    font-size: .9rem;
    overflow: hidden;
}
.imgCard{
    width: 30vw;
}

.material-simbols-outlined {
    color: #FFFFFF;
    fill: #FFFFFF;
}


header {
    height: 9vh;
}

.profileImage {
    object-fit: cover;
    height: 4vh;
}

.home {
    margin: 0;
    height: 50vh;
    font-weight: 100;
    background: radial-gradient(#a23982, #1f1013);
    overflow-y: hidden;
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

hr {
    color: azure;
}

.homeIndicator {
    position: absolute;
    width: 134px;
    height: 5px;
    left: calc(50% - 134px/2 + 0.5px);
    bottom: 8px;
    background: #FFFFFF;
    border-radius: 100px;
}
.itemHome{
    z-index:2;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}



.perfil {
    min-height: 84vh;
    background-image: url("../img/fondo.jpg");
    background-attachment: scroll;
    background-size: cover;
}

.perfillog {
    height: auto;
}

.perfilImg {
    border-radius: 50%;
}

.busqueda {
    min-height: 84vh;
}

.login {
    width: 70vw;
    border-color: beige;
    height: 40vh;
    background-color: rgba(27, 27, 27, 0.3);
    
}

.redes {
    width: 15vw;
    height: 7vh;
    background-color: transparent;
    border-color: rgb(102, 22, 107) solid;
    padding: .5rem;
    cursor: pointer;
    image-rendering: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes img {
    width: 25px;
    height: 25px;

}

.formLogin {

    background-color: transparent;
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(255, 255, 255);
    color: white;

}

.scrollItems{
    overflow-y: hidden;
    overflow-x: auto;
}
.scrollItemsIn{
    width:30vw;
    height: 30vw;
}

.loginButton {
    margin: .5rem;
    background-color: rgba(27, 27, 27, 0.8);
    ;
    text-decoration: none;
    color: white;
    border: none;
    width: 25vw;
    height: 6vh;
    resize: both;
    overflow: auto;
}

.loginButton:hover {
    filter: brightness(110%)
}

/*Horizontal Scroll*/

.horizontal-scroll {
    display: flex;
    gap: 1px;
    height: 320px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}
.horizontal-scroll__item {
    align-items: center;
    display: flex;
    flex: 0 1 280px;
    font-size: 40px;
    justify-content: center;
    scroll-snap-align: start;
}

/*--------------------------------*/

.sectionRecognize {
    background-image: url("../img/background.jpg");
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
}

@keyframes boxShadowRecordingRed {
    0% {
        box-shadow: 0px 0px 15px 7px red;
    }

    50% {
        box-shadow: 0px 0px 25px 25px red;
    }

    100% {
        box-shadow: 0px 0px 15px 7px red;
    }
}

@keyframes boxShadowRecordingBlack {
    0% {
        box-shadow: 0px 0px 15px 7px black;
    }

    50% {
        box-shadow: 0px 0px 25px 25px black;
    }

    100% {
        box-shadow: 0px 0px 15px 7px black;
    }
}


.recognizeButton {
    margin: 5vh;
    height: 20vh;
    border-radius: 50%;
    /* border: 5px solid red; */
    box-shadow: 0px 0px 15px 7px red;
    background-color: rgb(53, 49, 49);
    transition: all 1s;
}

.recognizeButton:hover {
    cursor: pointer;
    height: 20vh;
    transform: rotate(360deg);
    box-shadow: 0px 0px 25px 25px red;
}

.textoRecognize {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

.recordingGif {
    margin: 5vh;
    height: 20vh;
    /* border: 5px solid red; */
    border-radius: 50%;
    animation-name: boxShadowRecordingRed;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.loadingGif {
    margin: 5vh;
    height: 20vh;
    border-radius: 50%;
    animation-name: boxShadowRecordingBlack;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


.sectionSearch {
    background-color: black;
    min-height: 90vh;
}

.backSearchBar {
    background-color: rgb(51, 51, 51);
}

.searchBar {
    background-color: rgb(51, 51, 51);
    border: 0;
    border-radius: 20px 20px 20px 20px;
}


/*BACKGROUND HOME*/


.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1 {
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.x2 {
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
}

.x3 {
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
}

.x4 {
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
}

.x5 {
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
}

.x6 {
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
}

.x7 {
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
}

.x8 {
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
}

.x9 {
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
}



@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-moz-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-o-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

.headerx {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Abel', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.2rem;
}

#head1,
#head2,
#head3,
#head4,
#head5 {
    opacity: 0;
}

#head1 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
}

#head2 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

#head3 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

#head4 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    -o-animation-delay: 17s;
    animation-delay: 17s;
}

#head5 {
    -webkit-animation: finalFade 1 5s ease-in;
    -moz-animation: finalFade 1 5s ease-in;
    -o-animation: finalFade 1 5s ease-in;
    animation: finalFade 1 5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    -moz-animation-delay: 22s;
    -o-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

#footer {
    font-family: 'Abel', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    color: white;
    position: fixed;
    -webkit-transform: translate(95vw, 90vh);
    -moz-transform: translate(95vw, 90vh);
    transform: translate(95vw, 90vh);
    transform: translate(95vw, 90vh);
}

/* Reproductor */
.cancion-main{
    padding: 40px 40px;
    background-color: black;
    color: white;
    width: 100vw;
    min-height: 86vh;
    display: flex;
    flex-direction: column;

    
}

.cancion-main p{
    margin: 0;
}

.portada{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.inf-c{
    margin-bottom: 20px;
 }

.titulo{
    font-size: 1.2rem;
}

.artista{
    color: rgb(82, 82, 82);
    font-size: 1rem;
}

.progress{
    height: 5px;
    margin-bottom: 5px;
}

.time{
    color: rgb(82, 82, 82);
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    font-weight: 600;
}

.play-c{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.play-c i{
        font-size: 60px;
    }

.mini-rep{
    width: 100%;
    height: 60px;
    background-color: rgb(32, 32, 32);
    display: flex;
}

.mini-rep img{
    max-height: 100%;
}
.mini-rep p{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 10px;
    margin: 0;
    color: white;

}
.mini-rep i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 20px;
    color: white;
}

.progress{
    background-color: rgb(66, 66, 66);
}

.barra{
    background-color: white;
}

.homeS{
    min-height: 90vh;
}

main{
    padding-bottom: 46px;
}
.fixFav{
    flex: 1;
    margin-left: 20px;
}